:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient( 135deg, #93a9fa 5%, #476FFF 100%);
  
  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient( 135deg, #97abf5 10%, #476FFF 100%);
  --vp-home-hero-image-filter: blur(100px);

  /* brand按钮 */
  --vp-button-brand-border: #476FFF;
  --vp-button-brand-text: #FFFFFF;
  --vp-button-brand-bg: #476FFF;
  --vp-button-brand-border-radius: 10px;

  --vp-button-brand-hover-border: #476FFF;
  --vp-button-brand-hover-text: #FFFFFF;
  --vp-button-brand-hover-bg: #476FFF;

  --vp-button-brand-active-border: #476FFF;

  /* 主题基色 */
  --vp-c-brand: #476FFF;
  --vp-c-brand-light: #476FFF;
  --vp-c-brand-dark: #476FFF;
}